* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f9f9f9;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

h1, h2, h3, h4, h5 {
  font-family: "Raleway";
  font-weight: normal;
}

p {
  font-family: 'Open Sans';
}

/* Nav Portion */
  nav {
    animation: nav;
    animation-duration: 2000ms;
    background-color: #4f3558;
    align-items: center;
    display: flex;
    height: 40px;
    justify-content: space-around;
    position: fixed;
    z-index: 1;
    width: 100%;
  }

  @keyframes nav {
    0% {opacity: 0}
    100% {opacity: 1}
  }

  .nav-logo {
    color: white;
    font-size: 18px;
    padding: 9px 15px;
    text-decoration: none;
  }

  .nav-link {
    color: white;
    font-size: 18px;
    padding: 9px 15px;
    text-decoration: none;
  }

  .nav-link:hover {
    background-color: #825791;
  }

  .current-link {
    background-color: #825791;
  }

  .bottom-nav-container {
    animation: nav;
    animation-duration: 2000ms;
    background-color: #4f3558;
    color: #bcbcc5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
  }
/* Nav Portion Ends */

/* Header Portion */
  .header-container {
    animation: header-container;
    animation-duration: 3000ms;
    background-image: url('macbook-white-wall-f9-bottom.jpg');
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
    height: 100vh;
    width: 100%;
  }

  @keyframes header-container {
    0% {opacity: 0}
    100% {opacity: 1}
  }

  .header-content {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 200px 0 0;
    height: 450px;
    max-width: 800px;
    text-align: center;
    text-shadow: 0px 0px 5px rgba(50, 50, 50, 0.45);
  }

  .header-header {
    animation: header-header;
    animation-duration: 3000ms;
    font-size: 70px;
  }

  @keyframes header-header {
    0% {opacity: 0}
    25% {opacity: 0}
    100% {opacity: 1}
  }

  .header-text-container {
    animation: header-text;
    animation-duration: 3000ms;
    font-size: 28px;
    max-width: 600px;
  }

  @keyframes header-text {
    0% {opacity: 0}
    25% {opacity: 0}
    100% {opacity: 1}
  }
/* Header Portion Ends */

/* Projects Portion */
  #projects {
    padding: 40px 0 0;
  }

  .projects-section {
    margin: 60px auto 30px;
  }

  .projects-container-header {
    color: #909095;
    font-size: 50px;
    margin: 0 auto 10px;
    width: 66%;
  }

  .click-larger-image {
    color: #909095;
    margin: 0 auto 50px;
    width: 66%;
  }

  .projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }

  .project-container {
    margin: 0 0 20px;
    max-height: 600px;
    overflow: hidden;
    max-width: 40%;
  }

  .project-image {
    width: 100%;
  }

  .project-image:hover {
    cursor: pointer;
  }
/* Projects Portion Ends */

/* Modal that may never work portion */
  .modal {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    transition: 500ms;
    width: 100%;
    visibility: hidden;
    z-index: 3;
  }

  .modal-content {
    background-color: #fefefe;
    margin: 80px auto;
    padding: 0 20px 20px;
    border: 4px solid #888;
    width: 80%;
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
    padding: 25px;
  }

  .modal-header-text {
    font-size: 22px;
  }

  .modal-close-button {
    font-size: 35px;
  }

  .modal-close-button:hover {
    cursor: pointer;
  }

  .modal-image-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .modal-image {
    max-height: 1200px;
    max-width: 95%;
  }

  .modal-arrows {
    font-size: 35px;
  }
/* Modal Portion Closes */

/* About portion */
  #about {
    padding: 40px 0;
  }

  .about-section {
    height: 100%;
    margin: 60px auto 160px;
    width: 66%;
  }

  .about-header {
    color: #909095;
    font-size: 50px;
  }

  .about-text-container {
    color: #77777e;
    font-size: 22px;
    margin: 20px auto 0;
    max-width: 700px;
    letter-spacing: 120%;
    line-height: 28px;
    text-indent: 40px;
  }
/* About Portion Ends */

/* Footer Portion */
  .footer-container {
    margin: 0 auto 50px;
    width: 82.5%;
    text-align: center;
  }

  .footer-links {
    display: flex;
    justify-content: center;
    margin: 20px 0 0;
    width: 100%;
  }

  .footer-link {
    padding: 0 10px;
  }

  .footer-links img {
    max-width: 80px;
  }
/* Footer Portion Ends */


@media (max-width:1800px) {
  .header-container {
    background-image: url('macbook-white-wall-all-but-gradient-blurred.jpg');
  }

  .header-content {
    margin: 200px auto 0;
  }

  .projects-container-header {
    font-size: 45px;
  }

  .project-container {
    max-height: 300px;
  }

  .about-header {
    font-size: 45px;
  }

  .about-text-container {
    line-height: 23px;
    font-size: 18px;
  }
}

@media (max-width:1400px) {
  .modal-content {
    margin: 60px auto;
  }

  .modal-image {
    max-width: 85%;
  }

  .footer-links img {
    max-width: 65px;
  }
}

@media (max-width:900px) {
  .header-container {
    background-position: right;
  }

  .projects-container-header {
    font-size: 40px;
  }

  .project-container {
    max-width: 90%;
  }

  .modal-header {
    padding: 10px;
  }

  .modal-header-text {
    font-size: 20px
  }

  .about-header {
    font-size: 40px;
  }
}

@media (max-width:500px) {
  /* Hambuger Styles */
    nav {
      display: block;
    }

    .nav-links-container {
      height: 0;
      overflow: hidden;
      transition: 400ms;
    }

    .nav-logo {
      display: block;
      width: 50%;
    }

    .nav-link {
      background-color: #825791;
      border-bottom: solid 2px #909095;
      display: block;
      text-align: right;
    }

    .open-nav-links {
      height: 120px;
    }

    .burger-container {
      cursor: pointer;
      position: fixed;
      right: 15px;
      top: 0px;
    }

    .bar1, .bar2, .bar3 {
      width: 35px;
      height: 5px;
      background-color: #909095;
      margin: 6px 0;
      transition: 0.4s;
    }

    .change .bar1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px);
      transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .bar2 {opacity: 0;}

    .change .bar3 {
      -webkit-transform: rotate(45deg) translate(-8px, -8px);
      transform: rotate(45deg) translate(-8px, -8px);
    }

    .bottom-nav-container {
      font-size: 12px;
    }
  /* Hamburger Styles End */

  /* Header Portion */
    .header-container {
      background-image: url('macbook-white-wall-portrait-2.jpg');
    }

    .header-content {
      height: 100vh;
      margin: 0 auto;
      width: 90%;
    }

    .header-header {
      font-size: 35px;
      padding: 100px 0 0;
    }

    .header-text-container {
      color: black;
      font-size: 16px;
      padding: 0 0 60px;
      text-shadow: none;
    }
  /* Header Portion Ends */

  /* Projects Portion */
    .projects-section {
      margin: 0 auto;
    }

    .projects-container-header {
      font-size: 25px;
      margin: 40px auto 5px;
      width: 82.5%;
    }

    .click-larger-image {
      margin: 0 auto 25px;
    }

    .project-container {
      max-height: 250px;
    }
  /* Projects Portion Ends */

  /* Modal Portion */
    .modal-content {
      width: 85%;
      padding: 0 10px;
    }

    .modal-header-text {
      font-size: 15px;
    }

    .modal-close-button {
      font-size: 27px;
    }

    /* .modal-arrows {
      font-size: 18px;
    } */
  /* Modal Portion Ends */

  .about-section {
    margin: 40px auto;
    width: 82.5%;
  }

  .about-header {
    font-size: 25px;
  }

  .about-text-container {
    font-size: 15px;
    max-width: 100%;
  }

  .footer-links img {
    max-width: 45px;
  }
}