* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f9f9f9;
}

h1, h2, h3, h4, h5 {
  font-family: "Raleway";
  font-weight: normal;
}

p {
  font-family: 'Open Sans';
}

/* Nav Portion */
  nav {
    animation: nav;
    animation-duration: 4000ms;
    background-color: #4f3558;
    align-items: center;
    display: flex;
    height: 40px;
    justify-content: space-around;
    position: fixed;
    z-index: 1;
    width: 100%;
  }

  @keyframes nav {
    0% {opacity: 0}
    100% {opacity: 1}
  }

  .nav-logo {
    color: white;
    font-size: 18px;
    padding: 9px 15px;
    text-decoration: none;
  }

  .nav-link {
    color: white;
    font-size: 18px;
    padding: 9px 15px;
    text-decoration: none;
  }

  .nav-link:hover {
    background-color: #825791;
  }

  .current-link {
    background-color: #825791;
  }
/* Nav Portion Ends */

/* Header Portion */
  .header-container {
    animation: header-container;
    animation-duration: 3000ms;
    background-image: url('macbook-white-wall-f9-bottom.jpg');
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
    height: 100vh;
    width: 100%;
  }

  @keyframes header-container {
    0% {opacity: 0}
    100% {opacity: 1}
  }

  .header-content {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 200px 0 0;
    height: 450px;
    max-width: 800px;
    text-align: center;
    text-shadow: 0px 0px 5px rgba(50, 50, 50, 0.45);
  }

  .header-header {
    animation: header-header;
    animation-duration: 3000ms;
    font-size: 70px;
  }

  @keyframes header-header {
    0% {opacity: 0}
    25% {opacity: 0}
    100% {opacity: 1}
  }

  .header-text-container {
    animation: header-text;
    animation-duration: 4000ms;
    font-size: 28px;
    max-width: 600px;
  }

  @keyframes header-text {
    0% {opacity: 0}
    25% {opacity: 0}
    100% {opacity: 1}
  }
/* Header Portion Ends */

/* Projects Portion */
  #projects {
    padding: 40px 0 0;
  }

  .projects-section {
    margin: 60px auto 30px;
  }

  .projects-container-header {
    color: #909095;
    font-size: 50px;
    margin: 0 auto 50px;
    width: 66%;
  }

  .projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }

  .project-container {
    margin: 0 0 20px;
    max-height: 600px;
    overflow: hidden;
    max-width: 40%;
  }

  .project-image {
    width: 100%;
  }
/* Projects Portion Ends */

/* About portion */
  #about {
    padding: 40px 0;
  }

  .about-section {
    margin: 60px auto 160px;
    width: 66%;
  }

  .about-header {
    color: #909095;
    font-size: 50px;
  }

  .about-text-container {
    color: #77777e;
    font-size: 18px;
    margin: 20px auto 0;
    max-width: 650px;
  }

  .about-text-container p {
    letter-spacing: 120%;
    line-height: 23px;
    text-indent: 40px;
  }
/* About Portion Ends */

@media (max-width:1800px) {
  .header-container {
    background-image: url('macbook-white-wall-all-but-gradient-blurred.jpg');
  }

  .header-content {
    margin: 200px auto 0;
  }

  .projects-container-header {
    font-size: 45px;
  }

  .project-container {
    max-height: 300px;
  }

  .about-header {
    font-size: 45px;
  }
}

@media (max-width:900px) {
  

  .header-container {
    background-position: right;
  }

  .projects-container-header {
    font-size: 40px;
  }

  .about-header {
    font-size: 40px;
  }
}

@media (max-width:500px) {
  /* Hambuger Styles */
  nav {
    display: block;
  }

  .nav-links-container {
    height: 0;
    overflow: hidden;
    transition: 400ms;
  }

  .nav-logo {
    display: block;
    width: 50%;
  }

  .nav-link {
    background-color: #825791;
    border-bottom: solid 2px #909095;
    display: block;
    text-align: right;
  }

  .open-nav-links {
    height: 120px;
  }

  .burger-container {
    cursor: pointer;
    position: fixed;
    right: 15px;
    top: 2px;
  }

  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #909095;
    margin: 6px 0;
    transition: 0.4s;
  }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .change .bar2 {opacity: 0;}

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
/* Hamburger Styles End */


  .header-container {
    background-image: url('macbook-white-wall-portrait-2.jpg');
  }

  .header-content {
    /* justify-content: space-around; */
    height: 100vh;
    margin: 0 auto;
    width: 90%;
  }

  .header-header {
    font-size: 35px;
    padding: 100px 0 0;
  }

  .header-text-container {
    color: black;
    font-size: 16px;
    padding: 0 0 60px;
    text-shadow: none;
    /* width: 90%; */
  }

  .projects-section {
    margin: 0 auto;
  }

  .projects-container-header {
    font-size: 25px;
    width: 82.5%;
  }

  .project-container {
    max-height: 250px;
    max-width: 66%;
  }

  .about-section {
    margin: 40px auto;
    width: 82.5%;
  }

  .about-header {
    font-size: 25px;
  }

  .about-text-container {
    font-size: 15px;
    max-width: 100%;
  }
}