* {
  box-sizing: border-box;
  font-family: "Raleway";
  margin: 0;
  padding: 0;
}

body {
  background-color: #f9f9f9;
}

/* Nav Portion */
  nav {
    animation: nav;
    animation-duration: 4000ms;
    background-color: #4f3558;
    align-items: center;
    display: flex;
    height: 40px;
    justify-content: space-around;
    position: fixed;
    z-index: 1;
    width: 100%;
  }

  @keyframes nav {
    0% {opacity: 0}
    100% {opacity: 1}
  }

  .nav-link {
    color: white;
    font-size: 18px;
    padding: 9px 15px;
    text-decoration: none;
  }

  .nav-link:hover {
    background-color: #825791;
  }

  .current-link {
    background-color: #825791;
  }
/* Nav Portion Ends */

/* Header Portion */
  .header-container {
    animation: header-container;
    animation-duration: 3000ms;
    background-image: url('macbook-white-wall-f9-bottom.jpg');
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
    height: 100vh;
    width: 100%;
  }

  @keyframes header-container {
    0% {opacity: 0}
    100% {opacity: 1}
  }

  .header-content {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 200px 0 0;
    height: 450px;
    max-width: 800px;
    text-align: center;
    text-shadow: 0px 0px 5px rgba(50, 50, 50, 0.45);
  }

  .header-header {
    animation: header-header;
    animation-duration: 3000ms;
    font-size: 70px;
  }

  @keyframes header-header {
    0% {opacity: 0}
    25% {opacity: 0}
    100% {opacity: 1}
  }

  .header-text-container {
    animation: header-text;
    animation-duration: 4000ms;
    font-size: 28px;
    max-width: 600px;
  }

  @keyframes header-text {
    0% {opacity: 0}
    25% {opacity: 0}
    100% {opacity: 1}
  }
/* Header Portion Ends */

/* Projects Portion */
  #projects {
    padding: 40px 0 0;
  }

  .projects-section {
    margin: 60px auto 30px;
  }

  .projects-container-header {
    color: #909095;
    font-size: 50px;
    margin: 0 auto 50px;
    width: 66%;
  }

  .projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }

  .project-container {
    margin: 0 0 20px;
    max-height: 600px;
    overflow: hidden;
    max-width: 40%;
  }

  .project-image {
    width: 100%;
  }
/* Projects Portion Ends */

/* About portion */
  #about {
    padding: 40px;
  }

  .about-section {
    margin: 0 auto;
    width: 66%;
  }

  .about-header {
    color: #909095;
    font-size: 50px;
  }

  .about-text-container {
    margin: 20px auto 0;
    width: 66%;
  }

@media (max-width:1800px) {
  .header-container {
    background-image: url('macbook-white-wall-all-but-gradient-blurred.jpg');
  }

  .header-content {
    margin: 200px auto 0;
  }

  .project-container {
    max-height: 400px;
  }
}

@media (max-width:800px) {
  .header-container {
    background-image: url('macbook-white-wall-portrait-2.jpg');
  }

  .header-content {
    /* justify-content: space-around; */
    height: 100vh;
    margin: 0 auto;
    width: 90%;
  }

  .header-header {
    font-size: 35px;
    padding: 100px 0 0;
  }

  .header-text-container {
    color: black;
    font-size: 16px;
    padding: 0 0 60px;
    text-shadow: none;
    /* width: 90%; */
  }

  .project-container {
    max-height: 250px;
  }
}